/*-------------------------*\
|	BASE/RESET
\*-------------------------*/

/* base font size and vertical rhythm */
html {
	font-size: $base-font-size +px;
	line-height: 1.5;
}

body, dt, dd,
/* TODO: remove these as/when styles are written in further down */
pre, form, fieldset, input, textarea {
	margin: 0;
	padding: 0;
}

body, input, select, textarea {
	font-family: $base-font-family;
	color: $base-font-color;
}

/* HTML5 elements */
header, nav, article, section, aside, footer,
details, figcaption, figure, hgroup, menu {
	display: block;
}

/* downward margins */
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote {
	margin: 0 0 $spacing-unit;
	padding: 0;
}
table {
	margin: 0 auto $spacing-unit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $hN-font-family;
	line-height: 1.2;
	color: $hN-font-color;
}

ul, ol, blockquote, dd {
	margin-left: $spacing-mega;
}

dt {
	font-weight: bold;
}

h1 {
	font-size: 42px;
	text-align: center;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

/* tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	padding: $table-pad-unit $table-pad-kilo;
}



a {
	color: #215aa4;
	text-decoration: none;
	@include transition(color .2s);

	&:hover, &:active, &:focus {
		color: #a42121;
		text-decoration:underline;
	}
	&:active, &:focus {
		outline:none;
	}
}


q:before {
	content: "\2018";
}
q:after {
	content: "\2019";
}
q.dbl:before {
	content: "\201c";
}
q.dbl:after {
	content: "\201d";
}

small {
	font-size: 11px;
}
/* often used in conjunction with <small> */
.aside {
	color: #555753;
	font-style: normal;
	font-weight: normal;
}

abbr[title], dfn[title] {
	cursor: help;
	border-bottom: 1px dotted;
}

ins {
	background-color: #d1e1ad;
	color: #405a04;
	text-decoration: none;
}
del {
	background-color: #e5bdb2;
	color: #a82400;
	text-decoration: line-through;
}

hr {
	height: 1px;
	margin: $spacing-unit auto;
	background: #ccc;
	border: 0;
}
