/*-------------------------*\
	BASE/RESET
\*-------------------------*/

/* base font size and vertical rhythm */
html {
	font-size: $base-font-size +px;
	line-height: 1.5;
}

body, dt, dd,
/* TODO: remove these as/when styles are written in further down */
pre, form, fieldset, input, textarea, th, td {
	margin: 0;
	padding: 0;
}

body, input, select, textarea {
	font-family: $base-font-family;
	color: $base-font-color;
}

/* HTML5 elements */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

/* downward margins */
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote,
table {
    margin: 0 0 $spacing-unit;
    /*margin: 0 0 1rem;*/
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $hN-font-family;
	line-height: 1.2;
	color: $hN-font-color;
}

ul, ol, blockquote, dd {
	margin-left: $spacing-mega;
}

dt {
	font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
	font-size: 36px;
	text-align: center;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}



a {
	color: #215aa4;
	text-decoration: none;
	@include transition(color .2s);

	&:hover, &:active, &:focus {
		color: #a42121;
		text-decoration:underline;
	}
	&:active, &:focus {
		outline:none;
	}
}


abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

