/*-------------------------*\
|	BASE/RESET
\*-------------------------*/

/* base font size and vertical rhythm */
html {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.5;
	color: $base-font-color;
}

body, dt, dd, pre, form, fieldset {
	margin: 0;
	padding: 0;
}

/* HTML5 elements */
header, nav, article, section, aside, footer,
details, figcaption, figure, hgroup, menu {
	display: block;
}

/* downward margins */
%downward-margin {
	margin: 0 0 $spacing-unit;
	padding: 0;
}
%downward-margin-center {
	margin: 0 auto $spacing-unit;
	padding: 0;
}
%downward-margin-mega {
	margin: 0 0 $spacing-mega;
	padding: 0;
}
%downward-margin-mega-center {
	margin: 0 auto $spacing-mega;
	padding: 0;
}

p, ul, ol, dl, blockquote {
	@extend %downward-margin;
}
table {
	@extend %downward-margin-center;
}

/* headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3 {
	@extend %downward-margin;
	font-family: $hN-font-family;
	line-height: 1.2;
	color: $hN-font-color;

	>a {
		color: $hN-font-color;
	}
}

h1, .h1 {
	font-size: 42px;
	text-align: center;
}
h2, .h2 {
	font-size: 28px;
}
h3, .h3 {
	font-size: 22px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}


ul, ol, blockquote, dd {
	margin-left: $spacing-mega;
}

/*dt {
	font-weight: bold;
}*/

/* tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	padding: $table-pad-unit $table-pad-kilo;
}

/* links */
a {
	color: $link-color;
	text-decoration: none;
	@include transition(color .2s);

	&:hover, &:active, &:focus {
		color: $link-hover-color;
		text-decoration: underline;
	}
	&:active, &:focus {
		outline: none;
	}
}

/* clear awful blue border on linked images */
img {
	border: 0;
}

/* basic quote styles */
q:before {
	content: "\2018";
}
q:after {
	content: "\2019";
}
q.dbl:before {
	content: "\201c";
}
q.dbl:after {
	content: "\201d";
}

%small {
	font-size: $font-size-milli;
}
small, .small {
	@extend %small;
}
/* often used in conjunction with <small> */
.aside {
	color: $light-font-color;
	font-style: normal;
	font-weight: normal;
}

abbr[title], dfn[title] {
	cursor: help;
	border-bottom: 1px dotted lighten($base-font-color, 40%);
}

ins {
	background-color: #d1e1ad;
	color: #405a04;
	text-decoration: none;
}
del {
	background-color: #e5bdb2;
	color: #a82400;
	text-decoration: line-through;
}

hr {
	height: 1px;
	margin: $spacing-unit auto;
	background: #ccc;
	border: 0;
}


/* form fields */

input, button, select, textarea {
	font: inherit;
	margin: 0;
	padding: 4px;
}

/* Any input tag that allows text, e.g.
	<input type="text">
	<input type="password">
	<input type="email">
*/
.input-text,
textarea {
	/* default browser widths are too small */
	min-width: 250px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: $font-size-milli;
}

textarea {
	min-height: 200px;
}

select {
	min-width: 150px;
	font-size: $font-size-milli;
}

/* <input type="submit"> */
.btn {
    display: inline-block;
    cursor: pointer;
	padding: 5px 10px;
}
