/*-------------------------*\
|	GRID
\*-------------------------*/

/* Typical usage:
<div class="grid-wrapper"> <!-- add second class here for any custom styles e.g. borders -->
	<div class="grid-row">
		<div class="grid-col span-8">
			<p>Content for the wider left column. Could be in an article tag instead of div.</p>
		</div>
		<div class="grid-col span-4">
			<p>Content for the thinner right column e.g. a sidebar. Could be in an aside tag.</p>
		</div>
	</div>
	<div class="grid-row span-full">
		<p>Full width column here, avoids extra nested div.</p>
	</div>
</div>
*/

// actual grid widths, excluding outer gutters
$grid-width-desk:  1120px !default;
$grid-width-lap:    736px !default;
$grid-gutter:        20px !default;
$grid-columns:       12   !default;

$grid-extra-width:    0   !default;
$grid-spacing: $grid-gutter !default;

$scrollbar-width:    17px;

$grid-unit-desk:  ($grid-width-desk + $grid-gutter) / $grid-columns;
$grid-unit-lap:   ($grid-width-lap  + $grid-gutter)  / $grid-columns;

$breakpoint-desk-begin: $grid-width-desk + ($grid-gutter * 2) + $grid-extra-width + $scrollbar-width;
$breakpoint-lap-end:    $breakpoint-desk-begin - 1;
$breakpoint-lap-begin:  $grid-width-lap  + ($grid-gutter * 2) + $grid-extra-width + $scrollbar-width;
$breakpoint-palm-end:   $breakpoint-lap-begin - 1;


/* Mobile-first styles */

.grid-wrapper {
	margin: 0 auto;
}

.grid-row {
	padding: 0 0 $grid-spacing;

	&:last-child {
		margin-bottom: 0;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.grid-col {
	@include box-sizing(border-box);
}



/* Tablet & Desktop */
@media (min-width: $breakpoint-lap-begin) {

	.grid-wrapper {
		padding: 0 $grid-gutter;
	}
	.grid-row {
		margin-left: -$grid-gutter;
	}
	.grid-col {
		float: left;
		margin-left: $grid-gutter;
	}
	.grid-row.span-full {
		margin-left: 0;
	}

}

/* Desktop */
@media (min-width: $breakpoint-desk-begin) {

	.grid-wrapper {
		width: $grid-width-desk;
	}

	.span-1,  .desk-span-1  { width: ($grid-unit-desk     ) - $grid-gutter; } // 43
	.span-2,  .desk-span-2  { width: ($grid-unit-desk *  2) - $grid-gutter; } // 135
	.span-3,  .desk-span-3  { width: ($grid-unit-desk *  3) - $grid-gutter; } // 228
	.span-4,  .desk-span-4  { width: ($grid-unit-desk *  4) - $grid-gutter; } // 320
	.span-5,  .desk-span-5  { width: ($grid-unit-desk *  5) - $grid-gutter; } // 413
	.span-6,  .desk-span-6  { width: ($grid-unit-desk *  6) - $grid-gutter; } // 505
	.span-7,  .desk-span-7  { width: ($grid-unit-desk *  7) - $grid-gutter; } // 597
	.span-8,  .desk-span-8  { width: ($grid-unit-desk *  8) - $grid-gutter; } // 690
	.span-9,  .desk-span-9  { width: ($grid-unit-desk *  9) - $grid-gutter; } // 782
	.span-10, .desk-span-10 { width: ($grid-unit-desk * 10) - $grid-gutter; } // 875
	.span-11, .desk-span-11 { width: ($grid-unit-desk * 11) - $grid-gutter; } // 967
	.span-12, .desk-span-12 { width: ($grid-unit-desk * 12) - $grid-gutter; } // 1060

	          .desk-push-0  { margin-left: $grid-gutter; }
	.push-1,  .desk-push-1  { margin-left: $grid-unit-desk      + $grid-gutter; }
	.push-2,  .desk-push-2  { margin-left: $grid-unit-desk *  2 + $grid-gutter; }
	.push-3,  .desk-push-3  { margin-left: $grid-unit-desk *  3 + $grid-gutter; }
	.push-4,  .desk-push-4  { margin-left: $grid-unit-desk *  4 + $grid-gutter; }
	.push-5,  .desk-push-5  { margin-left: $grid-unit-desk *  5 + $grid-gutter; }
	.push-6,  .desk-push-6  { margin-left: $grid-unit-desk *  6 + $grid-gutter; }
	.push-7,  .desk-push-7  { margin-left: $grid-unit-desk *  7 + $grid-gutter; }
	.push-8,  .desk-push-8  { margin-left: $grid-unit-desk *  8 + $grid-gutter; }
	.push-9,  .desk-push-9  { margin-left: $grid-unit-desk *  9 + $grid-gutter; }
	.push-10, .desk-push-10 { margin-left: $grid-unit-desk * 10 + $grid-gutter; }
	.push-11, .desk-push-11 { margin-left: $grid-unit-desk * 11 + $grid-gutter; }
}

/* Tablet */
@media (min-width: $breakpoint-lap-begin) and (max-width: $breakpoint-lap-end) {

	.grid-wrapper {
		width: $grid-width-lap;
	}

	.span-1,  .lap-span-1  { width: ($grid-unit-lap     ) - $grid-gutter; }
	.span-2,  .lap-span-2  { width: ($grid-unit-lap *  2) - $grid-gutter; }
	.span-3,  .lap-span-3  { width: ($grid-unit-lap *  3) - $grid-gutter; }
	.span-4,  .lap-span-4  { width: ($grid-unit-lap *  4) - $grid-gutter; }
	.span-5,  .lap-span-5  { width: ($grid-unit-lap *  5) - $grid-gutter; }
	.span-6,  .lap-span-6  { width: ($grid-unit-lap *  6) - $grid-gutter; }
	.span-7,  .lap-span-7  { width: ($grid-unit-lap *  7) - $grid-gutter; }
	.span-8,  .lap-span-8  { width: ($grid-unit-lap *  8) - $grid-gutter; }
	.span-9,  .lap-span-9  { width: ($grid-unit-lap *  9) - $grid-gutter; }
	.span-10, .lap-span-10 { width: ($grid-unit-lap * 10) - $grid-gutter; }
	.span-11, .lap-span-11 { width: ($grid-unit-lap * 11) - $grid-gutter; }
	.span-12, .lap-span-12 { width: ($grid-unit-lap * 12) - $grid-gutter; }
}

/* Mobile & Tablet */
@media (max-width: $breakpoint-lap-end) {

	/*
		For responsive images we need to set `max-width` to keep them inside our grid, and we need auto
		 height to maintain the aspect ratio.
		However, auto height prevents the browser being able to allocate space for the image even with
		 their width and height explicitly defined in the HTML attributes and at full width.
		Therefore, we avoid setting `max-width` when the browser is above the grid's max width. The
		 exact pixel widths at full resolution are listed above.
	*/
	img {
		max-width: 100%;
		height: auto; /* maintain aspect ratio */
	}

	/* Prevent wide items (e.g. tables) from breaking layout */
	.span-full, .grid-col {
		overflow-x: auto;
	}

}

/* Mobile only */
@media (max-width: $breakpoint-palm-end) {

	.grid-col,
	.grid-row.span-full {
		padding: 0 ($grid-gutter / 2) ($grid-spacing / 2);
	}

}



