/*-------------------------*\
|	LINKS
\*-------------------------*/

/* Outer block for continue links:
	<p class="nav-forward"><a href="#">Continue</a></p>
*/
.nav-forward {
	font-weight: $bold-weight;
	text-align: right;

	> a:after {
		content: "\00a0\00bb";
	}
}

/* Outer block for links to go back:
	<p class="nav-backward"><a href="#">go back</a></p>
*/
.nav-backward {
	font-weight: $bold-weight;
	text-align: left;

	> a:before {
		content: "\00ab\00a0";
	}
}

/* Special highlighted link */
.link-focus {
	font-size: 115%;
	font-weight: $bold-weight;
	margin-left: $spacing-kilo;

	&:before {
		content: "\00bb\00a0";
	}
}


/*-------------------------*\
|	IMAGES
\*-------------------------*/

/* Figures:
	1. Figure block with caption
		<div class="figure"><img src="" alt=""><br>Caption text</div>
	2. Basic left/right floats
		<img class="figure-left" src="" alt="">
	3. Figure block with caption, floated
		<div class="figure figure-right"><img src="" alt=""><br>Caption text</div>
*/
.figure {
	@extend %downward-margin-center;
	color: $light-font-color;
	font-size: $font-size-milli;
	text-align: center;
}
.figure-left {
	float: left;
	margin: 0 $spacing-unit $spacing-unit 0;
}
.figure-right {
	float: right;
	margin: 0 0 $spacing-unit $spacing-unit;
}


/*-------------------------*\
|	OTHER
\*-------------------------*/

/* Key statistics - large numbers with name
	<div class="stat-summary">
		<div class="stat-summary-item">
			<span class="stat-summary-count">100%</span><br>
			Awesome
		</div>
	</div>
 */
.stat-summary {
	@extend %downward-margin-center;
	text-align: center;
}
.stat-summary-item {
	display: inline-block;
	margin: 0 $spacing-unit;
	font-size: $font-size-milli;
}
.stat-summary-count {
	font-size: $font-size-mega;
	font-weight: $bold-weight;
}


/* Pagination style - padded numbers for easier clickability; <b> for non-linked elements:
	<div class="pagination">Page:
		<a href="page/2"><i class="arrow">&#8249;</i> Prev</a>
		<a href="/">1</a>
		<a href="page/2">2</a>
		<b>3</b>
		<a href="page/4">4</a>
		<a href="page/5">5</a>
		<b>...</b>
		<a href="page/10">10</a>
		<a href="page/4">Next <i class="arrow">&#8250;</i></a>
	</div>
*/
.pagination {
	@extend %downward-margin;
	text-align: center;

	> a, > b {
		margin: 0 2px;
		padding: 3px 8px;
	}
	> a {
		background: #fff;
		border: 1px solid #ddd;
		line-height: 2;

		&:hover {
			background: #fffacd;
			text-decoration: none;
		}
	}
	.arrow {
		position: relative;
		top: 1px;
		font-size: 140%;
		font-style: normal;
	}
}


/* Fractions - simple styling for custom fractions:
	<span class="fraction"><sup>1</sup>&frasl;<sub>8</sub></span>
*/
$frac-size: .66em;
.fraction {
	> sup {
		font-size: $frac-size;
		vertical-align: .5em;
	}
	> sub {
		font-size: $frac-size;
		vertical-align: -.2em;
	}
}


/* The struggle between good and evil */
.text-positive {
	color: #070;
}
.text-negative {
	color: #a00;
}
