/*-------------------------*\
|	HYPERFISH MENU
\*-------------------------*/

/* Variables */

$hf-width:       1120 !default;
$hf-height:        36 !default;
$hf-items:          5 !default;
$hf-item-pad:      10 !default;
$hf-item-bw:        1 !default;

$hf-anim-length:  .3s !default;
$hf-delay-enter:  .3s !default;
$hf-delay-exit:   .8s !default;
$hf-delay-side:   .1s !default;

$hf-corner: $base-corner !default;
$hf-radius: 0 0 $hf-corner $hf-corner  !default;

/* Placeholder Selectors (for custom styling) */

%hf-theme-1f-ul {
	/* ul */
	@include linear-gradient(#525252, #404040);
	border: 1px solid #000;
	border-top: 0;
	border-radius: $hf-radius;

	a {
		color: #ddd;
		text-decoration: none;
	}
}
%hf-theme-1f-li {
	/* ul>li */
	background-color: transparent;
	@include box-shadow(inset 1px 1px 0 rgba(255, 255, 255, .1));
	border-right: 1px solid #000;
	color: #ddd;
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
	text-align: center;

	&:first-child {
		border-bottom-left-radius: $hf-corner;
	}
	&:last-child {
		border-right: 0;
		border-bottom-right-radius: $hf-corner;
	}
}
%hf-theme-2f-ul {
	/* ul>li>ul */
	background: #000;
}
%hf-theme-2f-li {
	/* ul>li>ul>li */
	font-weight: normal;
	font-size: .9em;
	text-align: left;

	/* submenu list item transition */
	@include transition(background-color .1s ease-in-out);

	>a {
		display: block;
		padding: 0 $hf-item-pad +px;
		color: #fff;
		text-decoration: none;
	}

	&:hover {
		background-color: rgba(255, 255, 255, .2);
	}
}


.main-menu-list {
	width: $hf-width +px;
	height: $hf-height +px;
	margin: 0 auto;
	padding: 0;
	@extend %hf-theme-1f-ul !optional;

	&:hover {
		>li {
			/* transition out for sibling menus when moving sideways */
			@include transition(background-color $hf-anim-length ease-in-out $hf-delay-side);

			>ul {
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-side, visibility $hf-anim-length ease-in-out $hf-delay-side);
			}
		}
	}

	>li {
		position: relative;
		list-style: none;
		cursor: pointer;
		float: left;
		width: (($hf-width / $hf-items) - ($hf-item-pad * 2) - $hf-item-bw) +px;
		height: $hf-height +px;
		line-height: $hf-height +px;
		padding: 0 $hf-item-pad +px;
		@extend %hf-theme-1f-li !optional;

		/* top item transition out */
		@include transition(background-color $hf-anim-length ease-in-out $hf-delay-exit);

		&:hover {
			background-color: rgba(50, 50, 50, .6);
			/* top item transition in */
			@include transition(background-color $hf-anim-length ease-in-out $hf-delay-enter);

			>ul {
				visibility: visible;
				opacity: 1;
				/* submenu transition in */
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-enter, visibility $hf-anim-length ease-in-out $hf-delay-enter);
			}
		}

		>ul {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			z-index: 100;
			top: $hf-height +px;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 0;
			@extend %hf-theme-2f-ul !optional;

			/* submenu transition out */
			@include transition(opacity $hf-anim-length ease-in-out $hf-delay-exit, visibility $hf-anim-length ease-in-out $hf-delay-exit);

			>li {
				list-style: none;
				padding: 0;
				line-height: ($hf-height * .75) +px;
				@extend %hf-theme-2f-li !optional;

			}
		}
	}
}



@media (min-width: $breakpoint-lap-begin) and (max-width: $breakpoint-lap-end) {

	.main-menu-list {
		@include box-sizing(border-box);
		width: 100%;

		>li {
			@include box-sizing(border-box);
			width: (100% / $hf-items);
		}
	}
}

@media handheld, only screen and (max-width: $breakpoint-palm-end) {

	.main-menu-list, .main-menu-list > li {
		float: none;
		width: auto;
		height: auto;
	}
}
