
$th-col-1:      #e7e7e0;
$th-col-2:      #dbdbd2;
$th-sel-col-1:  #e7d8e6;
$th-sel-col-2:  #dbc5d9;
$zebra-bg-odd:  #ffffff;
$zebra-bg-even: #f4f4f2;

$table-border-col:      #c4c4c4;
$table-border-alt-col:  ($table-border-col + #121212);
$table-border-lite-col: #ececec;

// Variables denoting arrow icons for table sorting
$tsortable-width:      7px !default;
$tsortable-height:     9px !default;
$tsortable-bg:         transparent url("sort-arrows.png") no-repeat 10px 10px !default;
$tsortable-bgpos:      0 0 !default;
$tsortable-bgpos-asc:  0 -10px !default;
$tsortable-bgpos-desc: 0 -20px !default;

%sorting-arrow {
	display: block;
	position: absolute;
	top: 6px;
	right: -($table-pad-kilo + $tsortable-width);
	content: "";
	width: $tsortable-width;
	height: $tsortable-height;
	background: $tsortable-bg;
}



/*-------------------------*\
|	DATA TABLE
\*-------------------------*/

.data-table {

	th, td {
		vertical-align: middle;
		border-width: 1px 0;
		border-style: solid;
		border-color: $table-border-col $table-border-alt-col;
	}

	th {
		padding: (2 * $table-pad-unit) $table-pad-kilo;
		background-color: $th-col-1;
		@include linear-gradient($th-col-1, $th-col-2);
		border-width: 1px;
		text-align: left;
		white-space: nowrap;
	}

	td {
	}

	tr:nth-child(odd) {
		background-color: $zebra-bg-odd;
	}
	tr:nth-child(even) {
		background-color: $zebra-bg-even;
	}

	/* for filtering (odd/even classes must be separate from nth-child) */
	tr.odd {
		background-color: $zebra-bg-odd;
	}
	tr.even {
		background-color: $zebra-bg-even;
	}
	tr.hidden {
		display: none;
	}

	td:first-child {
		border-left-width: 1px;
	}
	td:last-child {
		border-right-width: 1px;
	}

	.cell-grid {
		border-width: 1px;
		text-align: center;
	}

	.sorting {
		padding-right: $table-pad-mega;
		cursor: pointer;
	}
	.sorting-asc {
		@include linear-gradient($th-sel-col-1, $th-sel-col-2);
	}
	.sorting-desc {
		@include linear-gradient($th-sel-col-1, $th-sel-col-2);
	}

}

.sortwrap {
	position: relative;
}
.sorting > .sortwrap:before {
	@extend %sorting-arrow;
	background-position: $tsortable-bgpos;
}
.sorting-asc > .sortwrap:before {
	@extend %sorting-arrow;
	background-position: $tsortable-bgpos-asc;
}
.sorting-desc > .sortwrap:before {
	@extend %sorting-arrow;
	background-position: $tsortable-bgpos-desc;
}



/*-------------------------*\
|	GRID TABLE
\*-------------------------*/

.grid-table {
	td {
		border-width: 1px;
		text-align: center;
	}
}



/*-------------------------*\
|	KEY-VALUE TABLE
\*-------------------------*/

.vitals-table {
	width: 100%;

	th, td {
		border-width: 1px 0;
		border-style: solid;
		border-color: $table-border-lite-col;
	}

	th {
		@extend %small;
		@extend .aside;
		width: 1px;
		white-space: nowrap;
		text-align: right;
	}
}

.key-table {
	th {
		text-transform: uppercase;
	}
}



/*-------------------------*\
|	MISC
\*-------------------------*/

.cell-nano {
	font-size: $font-size-micro;
}
.cell-fixed {
	white-space: nowrap;
}

.wide-table {
	width: 100%;
}


/* tablet */
@media (min-width: $breakpoint-lap-begin) and (max-width: $breakpoint-lap-end) {

	.data-table {
		td, th {
			font-size: $font-size-milli;
		}
	}

}

/* mobile and tablet */
@media (max-width: $breakpoint-lap-end) {

	.data-table {
		td, th {
			font-size: $font-size-milli;
		}
		.sorting {
			padding-right: $table-pad-kilo;
		}
	}

	.sorting > .sortwrap,
	.sorting-asc > .sortwrap,
	.sorting-desc > .sortwrap {
		text-decoration: underline;

		&:before {
			background: none;
		}
	}

	.cell-nano {
		line-height: 1;
	}

}

/* mobile */
@media handheld, only screen and (max-width: $breakpoint-palm-end) {

}
