/*-------------------------*\
|	VARIABLES & FUNCTIONS
\*-------------------------*/

$base-font-size:    14;
$spacing-unit: $base-font-size +px;
$spacing-kilo: ($base-font-size * 1.5) +px;
$spacing-mega: ($base-font-size * 2) +px;
$base-corner: 8;

$base-font-family:  "Open Sans", "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif;
$base-font-color:  #404040;
$hN-font-family:  "Open Sans Condensed", "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif;
$hN-font-color:  #000;
$mono-font-family:  "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;

$table-pad-unit: 3px;   /* mainly top/bottom padding */
$table-pad-kilo: 10px;  /* mainly left/right padding, top/bottom on <th> */
$table-pad-mega: ($table-pad-kilo * 2) + 7;  /* extra spacing for table sorting arrows (10 + arrow + 10) */


$light-shadow: rgba(255, 255, 255, .2);

/*
	REQUIRED CSS PREFIXES:
	box-sizing:      webkit, moz
	linear-gradient: webkit, moz, o
	box-shadow:      webkit
	transition:      webkit, moz, o

	NO PREFIXES REQUIRED:
	border-radius
	background-size
	background-clip
*/


/* Generic mixin for vendor properties. Usage:
	@include vendor(box-sizing, border-box);
*/
@mixin vendor($property, $value){
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

/* Generic mixin for vendor functions. Usage:
	@include vendor-func(background-image, linear-gradient(#000, #fff));
*/
@mixin vendor-func($property, $func) {
	#{$property}: -webkit-#{$func};
	#{$property}:    -moz-#{$func};
	#{$property}:     -ms-#{$func};
	#{$property}:      -o-#{$func};
	#{$property}:         #{$func};
}

/* Mixin for linear gradients. Usage:
	@include linear-gradient(#222, #111);
*/
@mixin linear-gradient($value...) {
	background-image: -webkit-linear-gradient($value);
	background-image:    -moz-linear-gradient($value);
	background-image:      -o-linear-gradient($value);
	background-image:         linear-gradient($value);
}

/* Mixin for box shadow. Usage:
	@include box-shadow(0 0 10px #000);
*/
@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	        box-shadow: $value;
}

/* Mixin for box sizing. Usage:
	@include box-sizing(border-box);
*/
@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

/* Mixin for transitions. Usage:
	@include transition(all .4s ease-in-out .8s);
*/
@mixin transition($value...) {
	-webkit-transition: $value;
	   -moz-transition: $value;
	     -o-transition: $value;
	        transition: $value;
}


