/*-------------------------*\
|	VARIABLES & FUNCTIONS
\*-------------------------*/

$base-font-size:   14px;
$spacing-unit:     $base-font-size;

$font-size-milli:  12px;
$font-size-kilo:   16px;
$font-size-mega:   22px;
$font-size-giga:   28px;
$font-size-tera:   36px;

$spacing-milli:    ($base-font-size * 0.5);	/* 7 */
$spacing-kilo:     ($base-font-size * 1.5);	/* 21 */
$spacing-mega:     ($base-font-size * 2);	/* 28 */
$spacing-giga:     ($base-font-size * 4);	/* 56 */

$base-font-family: "Open Sans", "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif;
$base-font-color:  #404040;
$link-color:       #215aa4;
$link-hover-color: #a42121;
$light-font-color: #777;

$hN-font-family:   "Open Sans Condensed", "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif;
$hN-font-color:    #000;

$mono-font-family: "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;

$table-pad-unit:   3px;   /* mainly top/bottom padding */
$table-pad-kilo:   10px;  /* mainly left/right padding, top/bottom on <th> */
$table-pad-mega:   ($table-pad-kilo * 2) + 7;  /* extra spacing for table sorting arrows (10 + arrow + 10) */

$light-shadow:     rgba(255, 255, 255, .2);
$base-corner:      8px;


/*
	REQUIRED CSS PREFIXES:
	box-sizing:      webkit, moz
	linear-gradient: webkit, moz, o
	box-shadow:      webkit
	transition:      webkit

	NO PREFIXES REQUIRED:
	border-radius
	background-size
	background-clip
*/


/* Generic mixin for vendor properties. Usage:
	@include vendor(box-sizing, border-box);
*/
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

/* Generic mixin for vendor functions. Usage:
	@include vendor-func(background-image, linear-gradient(#000, #fff));
*/
@mixin vendor-func($property, $func) {
	#{$property}: -webkit-#{$func};
	#{$property}:    -moz-#{$func};
	#{$property}:     -ms-#{$func};
	#{$property}:      -o-#{$func};
	#{$property}:         #{$func};
}

/* Mixin for linear gradients. Usage:
	@include linear-gradient(#222, #111);
*/
@mixin linear-gradient($value...) {
	background-image: -webkit-linear-gradient($value);
	background-image:    -moz-linear-gradient($value);
	background-image:      -o-linear-gradient($value);
	background-image:         linear-gradient($value);
}

/* Mixin for box shadow. Usage:
	@include box-shadow(0 0 10px #000);
*/
@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	        box-shadow: $value;
}

/* Mixin for box sizing. Usage:
	@include box-sizing(border-box);
*/
@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

/* Mixin for transitions. Usage:
	@include transition(all .4s ease-in-out .8s);
*/
@mixin transition($value...) {
	-webkit-transition: $value;
	        transition: $value;
}


