/*-------------------------*\
|	VARIABLES
\*-------------------------*/

$base-font-size:   15px !default;
$spacing-unit:     $base-font-size;

$font-size-micro:  10px !default;
$font-size-milli:  13px !default;
$font-size-kilo:   17px !default;
$font-size-mega:   24px !default;
$font-size-giga:   30px !default;
$font-size-tera:   36px !default;

$spacing-milli:    round($base-font-size * 0.5);  /*  8 */
$spacing-kilo:     round($base-font-size * 1.5);  /* 23 */
$spacing-mega:     round($base-font-size * 2);    /* 30 */
$spacing-giga:     round($base-font-size * 2.5);  /* 38 */
$spacing-tera:     round($base-font-size * 4);    /* 60 */

$base-font-family: "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif !default;
$base-font-color:  #404040 !default;
$link-color:       #215aa4 !default;
$link-hover-color: #a42121 !default;
$light-font-color: #777 !default;

$hN-font-family:   "Ubuntu", "Trebuchet MS", "Helvetica", "Arial", "FreeSans", sans-serif !default;
$hN-font-color:    #000 !default;

$mono-font-family: "Consolas", "Ubuntu Mono", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", monospace !default;

$table-pad-unit:   3px !default;   /* mainly top/bottom padding */
$table-pad-kilo:   10px !default;  /* mainly left/right padding, top/bottom on <th> */
$table-pad-mega:   ($table-pad-kilo * 2) + 7 !default;  /* extra spacing for table sorting arrows (10 + arrow + 10) */

$light-shadow:     rgba(255, 255, 255, .2) !default;
$dark-shadow:      rgba(  0,   0,   0, .4) !default;
$base-corner:      8px !default;


/*-------------------------*\
|	MIXINS
\*-------------------------*/

/*
	REQUIRED CSS PREFIXES:
	box-sizing:      webkit, moz
	linear-gradient: webkit, moz, o
	box-shadow:      webkit
	transition:      webkit

	NO PREFIXES REQUIRED:
	border-radius
	background-size
	background-clip
*/


/* Generic mixin for vendor properties. Usage:
	@include vendor(box-sizing, border-box);
*/
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

/* Generic mixin for vendor functions. Usage:
	@include vendor-func(background-image, linear-gradient(#000, #fff));
*/
@mixin vendor-func($property, $func) {
	#{$property}: -webkit-#{$func};
	#{$property}:    -moz-#{$func};
	#{$property}:     -ms-#{$func};
	#{$property}:      -o-#{$func};
	#{$property}:         #{$func};
}

/* Mixin for linear gradients. Usage:
	@include linear-gradient(#222, #111);
*/
@mixin linear-gradient($value...) {
	background-image: -webkit-linear-gradient($value);
	background-image:    -moz-linear-gradient($value);
	background-image:      -o-linear-gradient($value);
	background-image:         linear-gradient($value);
}

/* Mixin for box shadow. Usage:
	@include box-shadow(0 0 10px #000);
*/
@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;
	        box-shadow: $value;
}

/* Mixin for box sizing. Usage:
	@include box-sizing(border-box);
*/
@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

/* Mixin for transitions. Usage:
	@include transition(all .4s ease-in-out .8s);
*/
@mixin transition($value...) {
	-webkit-transition: $value;
	        transition: $value;
}


/*-------------------------*\
|	PLACEHOLDERS
|	Styles to be extended
\*-------------------------*/


/* downward margins */
%downward-margin {
	margin: 0 0 $spacing-unit;
	padding: 0;
}
%downward-margin-center {
	margin: 0 auto $spacing-unit;
	padding: 0;
}
%downward-margin-mega {
	margin: 0 0 $spacing-mega;
	padding: 0;
}
%downward-margin-mega-center {
	margin: 0 auto $spacing-mega;
	padding: 0;
}


%small {
	font-size: $font-size-milli;
}

